In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../datasets/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
df.shape

(1338, 7)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [24]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [3]:
# convert categorical data to numerical data
df['charges'] = df['charges'].astype('int')
df.head()

   age     sex     bmi  children smoker     region  charges
0   19  female  27.900         0    yes  southwest    16884
1   18    male  33.770         1     no  southeast     1725
2   28    male  33.000         3     no  southeast     4449
3   33    male  22.705         0     no  northwest    21984
4   32    male  28.880         0     no  northwest     3866

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import balanced_accuracy_score

In [5]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
df['chargescat']= df['charges'].apply(lambda x: 'low' if x<10000 else 'medium' if x<20000 else 'high')

In [7]:
df.head()

   age     sex     bmi  children smoker     region  charges chargescat
0   19  female  27.900         0    yes  southwest    16884     medium
1   18    male  33.770         1     no  southeast     1725        low
2   28    male  33.000         3     no  southeast     4449        low
3   33    male  22.705         0     no  northwest    21984       high
4   32    male  28.880         0     no  northwest     3866        low

In [10]:
import numpy
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
for i in df.columns:
    if type(df[i][2])==numpy.bool_ or type(df[i][0])==str:
        df[i]= label_encoder.fit_transform(df[i])

In [11]:
df2 = df.drop('charges', axis =1)
X=df2.drop('chargescat',axis=1)
y=df2['chargescat']

In [34]:
print(y)
print(X)

0       2
1       1
2       1
3       0
4       1
       ..
1333    2
1334    1
1335    1
1336    1
1337    0
Name: chargescat, Length: 1338, dtype: int32
      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [13]:
from sklearn import svm

clf = svm.SVC()
y_pred=clf.fit(X, y).predict(X_test)

In [14]:
balanced_accuracy_score(y_test, y_pred)

0.5471816384589421

In [39]:
# from sklearn.linear_model import LogisticRegression
# model = LogisticRegression(random_state=0,max_iter=10000)
# model.fit(X_train, y_train)
# y_pred=model.predict(X_test)

In [40]:
# balanced_accuracy_score(y_test, y_pred)

0.8253625439244715

In [15]:
X=df.drop('chargescat',axis=1)
y=df['charges']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [16]:
balanced_accuracy_score(y_test, y_pred)

c:\Users\bala9\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:2006: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")

0.04785894206549118